body {
    background-color: #f2f2f2; /* Light grey background */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color: white;
    border: 2px solid #808080;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}


#profile {
    display: flex;
    flex-direction: row;
    gap: 3%;
    width: 100%;
    justify-content: center;
    position: relative;
}

.edit-button {
    background-color: #800000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}


#info {
    flex-grow: 1;
    width: 50%;
}

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name-block,
#email-block {
    background-color: transparent;
    color: #333;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease;
}

#name-block label,
#email-block label {
    margin-right: 10px;
    font-weight: bold;
}

#name-block input,
#email-block input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}



#payments {
    background-color: rgb(217, 217, 217);
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content input.one {
    padding: 8px;
    background-color: rgb(217, 217, 217);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 7px;
}

#content label {
    white-space: nowrap;
}

#items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
    border-radius: 5px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#content input.two {
    padding: 8px;
    background-color: rgb(217, 217, 217);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    
}

#payments-block {
    background-color: aliceblue;
    padding-left: 7px;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    display: flex;
    align-items: top;
}

#payments-label {
    margin-top: 9px;
}

#name-section, #email-section {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.edit {
    padding: 6px 12px;
    margin-left: 5px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.edit:hover {
    background-color: #800000;
}

#save-button {
    display: none; 
}





