.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

#navigation-bar {
  background-color: white;
  padding: 10px 20px;
  font-size: 2rem; /* xx-large is deprecated, using rem units for better scalability */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

#navigation-bar > button {
  background-color: #fff;
  color: #800000;
  border: 2px solid #800000;
  padding: 10px 20px;
  font-size: inherit;
  border-radius: 25px;
  cursor: pointer;
}

#navigation-bar > button:hover {
  background-color: #800000;
  color: #fff;
}

#navigation-bar > button:focus {
  outline: none;
  border-color: #fff;
}

#navigation-bar > input[type="text"] {
  outline: none;
  border: 2px solid black;
  border-radius: 100px;
  font-size: inherit;
  padding: 10px 10px 10px 25px;
}

#navigation-bar > input[type="text"]:focus {
  border-color: #800000;
}

#user-portal-container {
  display: inline-block; /* Ensures the container fits around the icon */
  border: 2px solid #800000; /* Outline color */
  border-radius: 50%; /* To make it circular */
  padding: 5px; /* Adjust as needed */
  transition: border-color 0.3s ease; /* Smooth transition for outline change */
}

#user-portal {
  font-size: 24px;
  color: #800000;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

#user-portal-container:hover {
  border-color: black; /* Change the outline color to black on hover */
}

#user-portal:hover {
  color: black; /* Change the color to black on hover */
}

