#description {
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Light grey background */
}


#contact-button-container {
    text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some space between description and button */
}

#contact-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #808080; /* Grey background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#contact-button:hover {
    background-color: #800000; /* Red background color on hover */
}



